<div class='row'>
  <div class='span4' id='cookies_div'>
    <h3>Cookies</h3>
    <p>Text</p>
    <div>
      <%= link_to "Cookies: #{@hunter.cookies}", add_stockpile_path,
                  class: 'btn btn-success btn-large', id: 'add_cookie_link' %>
    </div>
    <div><%= link_to "StealBucket: #{@steal_bucket.cookies}", get_bucket_path,
                     class: 'btn btn-success btn-large', id: 'get_steal_bucket_link' %></div>
    <div>Text3</div>
  </div>

  <div class='span4' id='hunters_div'>
    <h3>Users</h3>
    <p>Text</p>
    <div>
      <ul>
        <% @hunters.each do |hunter| %>
            <li class='hunter <%= "hunter_#{hunter.id}" %>'>
              <%= link_to "#{hunter.email} (#{hunter.cookies})", steal_stockpile_path(hunter_id: hunter.id),
                          class: 'btn btn-success btn-large hunter_link',
                          id: "steal_form_hunter_#{hunter.id}",
                          data: { id: hunter.id, email: hunter.email } %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='span4'>
    <h3>Bonuses</h3>
    <div>
      <h4>Active Bonuses</h4>
      <% @bonuses.each do |bonus| %>
          <p><%= "#{bonus.name}: #{bonus.regeneration}" %></p>
      <% end %>
    </div>
    <div>
      <h4>Available bonuses</h4>
      <% @available_bonuses.each do |bonus| %>
          <%= link_to "#{bonus.name} (+#{bonus.regeneration}): Price-#{bonus.price}",
                      buy_bonuses_path(type: bonus.class),
                      class: "btn btn-success btn-large bonus_#{bonus.class}"
          %>
      <% end %>
    </div>
  </div>

</div>